<!-- <div fxLayout="row" fxLayoutAlign="center center"> -->
<div class="connexionImage">
    <h1 class="app_name"></h1>
    <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title>Assignment App</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <form class="example-form">
            <span *ngIf="show"> <button mat-button color="warn"> login or password is incorrect</button></span>
            <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" [(ngModel)] ="login" name="username" required>
                </mat-form-field>
                </td>
            </tr>
            <tr>
            <td><mat-form-field class="example-full-width">
                <input matInput placeholder="Password"  [(ngModel)]= "password" type="password" name="password" required>
            </mat-form-field></td>
            </tr></table>
        </form>
        <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
        </mat-card-content>
        
        <div class="btnConnexion">
        <mat-card-actions><button mat-raised-button (click)="signUp()" color="primary">Login</button>
        
        </mat-card-actions>
    </div>
    </mat-card>
</div>
<!-- </div> -->