:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  /* border: solid 3px yellow; for debugging purposes */
}
.connexionImage{
  background-image: url('/assets/images/login2-.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.example-card {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
  background-color:darkgray;
  height:400px;
}
.mat-mdc-card-header{
  margin: auto;
}
.example-form mat-form-field{
  text-align: center;
  margin-bottom: 20px;
  width: 400px;
}
.app_name{
  width: 100%;
  text-align: center;
  color:white;
  height: 100px;
}
.example-form table{
  width:100%;
}
.btnConnexion .mat-mdc-card-actions {
 display: block!important;
 margin-bottom:20px;
}
.btnConnexion button{
  width:170px;
  height:50px;
  color:black;
  background-color: burlywood;
}
.example-full-width .mat-mdc-text-field-wrapper .testZinah{
  padding-top: 15px!important;
}