<!-- Indique que le composant affiché sera celui
     correspondant à l'URL courant
-->
<mat-toolbar  *ngIf="currentRoute !== '/login'">
    <mat-toolbar-row>
       
        <button mat-button (click)="opened=!opened"> <mat-icon>
            menu
        </mat-icon></button>
        <button mat-button (click)="opened=!opened"> <mat-icon>
            home
        </mat-icon> Home</button>
        <h4>Logo Here</h4><a routerLink="/home">{{title}}</a>
        <a routerLink="/login">
            <button mat-raised-button (click)="login()"> <mat-icon>account_circle</mat-icon> {{labelConnexion}}</button>
        </a>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container *ngIf="currentRoute !== '/login'">
    <mat-sidenav [(opened)]="opened" mode="side">
        <mat-list>
            <p *ngIf="isLogged()"> <mat-list-item><mat-icon>account_circle</mat-icon> Vous êtes connecté en tant que {{nom}} </mat-list-item></p>
            <mat-list-item><a routerLink="/home">Home</a></mat-list-item>
            <mat-list-item><a routerLink="/login">Login</a></mat-list-item>
            <mat-list-item><a routerLink="/assignment"> <mat-icon>assignment</mat-icon>Assignment</a></mat-list-item>
            <mat-list-item><button mat-raised-button color="primary" (click)="creerDonneesDeTest()">
                Peupler BD avec données de test
            </button></mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<!-- <mat-sidenav-container>
    <mat-sidenav opened>
       Start
    </mat-sidenav>
    <mat-sidenav-content>
        End
    </mat-sidenav-content>
</mat-sidenav-container> -->

<router-outlet *ngIf="!isLogged()" ></router-outlet>