<!-- Indique que le composant affiché sera celui
     correspondant à l'URL courant
-->
<mat-toolbar  *ngIf="currentRoute !== '/login' && currentRoute !== '/'">
    <mat-toolbar-row>
       
        <button mat-button (click)="opened=!opened"> <mat-icon>
            menu
        </mat-icon></button>
        <button mat-button (click)="opened=!opened"> <mat-icon>
            home
        </mat-icon> Home</button>
        
        <span class="example-spacer"><h4>Logo Here</h4><a routerLink="/home">{{title}}</a></span>
        <a routerLink="/login">
            <button mat-raised-button (click)="login()"> <mat-icon>account_circle</mat-icon> {{labelConnexion}}</button>
        </a>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container *ngIf="currentRoute !== '/login' && currentRoute !== '/'">
    <mat-sidenav [(opened)]="opened" mode="side">
        <mat-list>
            <p *ngIf="isLogged()"> <mat-list-item><a><mat-icon>account_circle</mat-icon> {{nom}} </a></mat-list-item></p>
            <p  *ngIf="isAdmin()"><mat-list-item><a routerLink="/liste"><mat-icon> home </mat-icon>  Liste des devoirs</a></mat-list-item></p>
            <p  *ngIf="!isAdmin()"><mat-list-item ><a routerLink="/assignment"> <mat-icon>assignment</mat-icon>  Liste des devoirs</a></mat-list-item></p>
            <p><mat-list-item><a routerLink="/add"><mat-icon>note_add</mat-icon> Ajouter devoir</a></mat-list-item></p>
            <mat-list-item><button mat-raised-button color="primary" (click)="creerDonneesDeTest()">
                Peupler BD avec données de test
            </button></mat-list-item>
            
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<!-- <mat-sidenav-container>
    <mat-sidenav opened>
       Start
    </mat-sidenav>
    <mat-sidenav-content>
        End
    </mat-sidenav-content>
</mat-sidenav-container> -->
<router-outlet *ngIf="!isLogged()" ></router-outlet>