<div cdkDropListGroup>
    <div class="example-container">
      <h2>Devoirs à rendre</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="devoirsPasRendus"
        class="example-list"
        cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of devoirsPasRendus" cdkDrag>
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{item.nom}}</mat-card-title>
                  <mat-card-subtitle>Date de rendu: {{item.dateDeRendu| date: 'dd/MM/yy'}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="item.photoMatiere" width="50px">
                <mat-card-content>
                  <p>
                    {{item.sujet}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <a mat-button routerLink="/assignments/{{item._id}}">DETAILS</a>
                </mat-card-actions>
            </mat-card>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Devoirs rendus</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="devoirsRendus"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of devoirsRendus" cdkDrag>
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{item.nom}}</mat-card-title>
                  <mat-card-subtitle>Date de rendu: {{item.dateDeRendu| date: 'dd/MM/yy'}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Sujet: {{item.sujet}}
                  </p><p> 
                    Notes: {{item.note}}
                    </p>
                    <p>
                    Remarques : {{item.remarques}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <a mat-button routerLink="/assignments/{{item._id}}">DETAILS</a>
                </mat-card-actions>
            </mat-card>
        </div>
      </div>
    </div>
    
  </div>  
  